.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login>div {
    text-align: center;
}

.auth-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
}

.ui.button.button-auth {
    background: #db2828;
    color: #fff;
    margin: 0 auto;
}
  
  .ui.button.button-auth:hover {
    background: #ca2525;
    color: #fff;
}