.header-container {
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    line-height: 90px;
    font-size: 17px;
  }
  .header-title, .header-logout {
    cursor: pointer;
  }
  .header-title:hover, .header-logout:hover {
    opacity: 0.8;
  }

.pagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.pagination li {
    padding: 10px 15px;
    border-left: 1px solid rgba(34,36,38,.15);
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    cursor: pointer;
}

.pagination li:hover {
    background: #f0f2f3;
    transition: color .2s ease;
}

.pagination .active {
    background: #f0f2f3;
}

.pagination li:first-child{
    border-radius: .28571429rem 0 0 .28571429rem;
}

.pagination li:last-child {
    padding: 10px 12px;
    border-right: 1px solid rgba(34,36,38,.15);
    border-radius: 0 .28571429rem .28571429rem 0;
}

.pagination li a {
    color: #333;
}