.user-container {
    margin: 50px auto;
}

.user-info-content {
    display: flex;
    justify-content: space-around;
}

.user-title {
    font-size: 25px;
}

.content {
    width: 41%;
    padding: .78571429em .78571429em 0;
  }

.content-info {
    margin-bottom: 30px;
}

.upload-divider {
    margin: 10px 0;
}

.upload-image {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header {
    font-weight: 700;
    font-size: 1.28571429em;
}

.info-item {
    font-size: 17px;
    margin-left: 5px;
}

.content-description {
    display: flex;
    margin: 30px 0 10px;
}

.ui.button.edit-button {
    margin-left: 10px; 
    padding: 5px 10px;
    font-size: 12px;
}

.arbitrary-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-image {
    height: 270px;
    width: 270px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.image {
    height: 100%;
}

.save-button {
    text-align: center;
}

.ui.primary.button {
    margin-top: 30px;
}