body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.ui.table td {
  padding: 0;
}

.ui.form textarea {
  border: 0;
}

.ui.input>input {
  outline-color: #22242633;
}

.ui.form textarea:not(:disabled) {
  border: 1px solid #22242633;
  padding: 10px 13px;
  transition: none;
}

.content-line {
  display: block;
  color: inherit;
  padding: .78571429em .78571429em;
}

a:hover {
  color: inherit;
}

.table-line:hover {
  background: #f0f2f3;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}